.banner_img {
    padding-top: 80px;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.img_L {
    transform: translateX(-60px);
    opacity: 0;
}

.img_R {
    transform: translateX(-20px);
    opacity: 0;
}

.banner_txt {
    position: absolute;
    left: 53%;
    top: 23%;
    /* font-size: 50px;
    font-weight: 900;
    color: white; */
}
.txt1 {
    font-size: 50px;
    font-weight: 900;
    color: white;
}

.txt2 {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 400;
    color: white;
}

.searchbox {
    margin-top: 40px;
    position: relative;
}

.searchbar {
    width: 480px;
    height: 50px;
    background: none;
    border: 1px white solid;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding-left: 20px;
}

.searchbox > img {
    position: absolute;
    right: 24px;
    top: 16px;
}