.sec5 {
    background: url(./img/mammoth/con01_bg.jpg);
}

.sec5_banner{
    margin: 0 auto;
    width: 400px;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
}

.sec5_btn {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 24px;
}

.sec5_btn_R {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.sec5_btn_L {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
}